.list-item {
  color: black;
  background-color: rgba(243, 241, 241, 0.411) !important;
  margin-top:1px;
}

.list-item:hover {
  background-color: #e5bac62d !important;
}

.small{
  font-size: 1.3em !important;
}
